@font-face {
    font-family: 'virgo';
    src: url(virgo.ttf);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    cursor: none;
    overflow: hidden;
}

#canvas {
    transition: 1s;
    opacity: 0;
    font-family: 'vigro';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}